#navbar-mobile {
    display: none;
}

#navbar {
    background-color: transparent;
    padding: .7rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed; 
    width: 100%;
    box-sizing: border-box;
    height: 4rem;

    transition: 0.2s;
}

#navbar.scrolled {
    background-color: #040C1E;
}

#navbar h1 {
    color: #22D3EE;
    margin: 0;
}

#navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

#navbar a {
    color: #94A3B8;
    padding: .5rem 0;
    transition: 0.2s;
}

#navbar a:hover {
    color: #22D3EE;
    border-bottom: 2px solid #22D3EE;
    cursor: pointer;
}

#navbar a.active {
    color: #22D3EE;
    border-bottom: 2px solid #22D3EE;
}

#navbar button {
    background-color: #2A354B;
    border: none;
    height: fit-content;
    padding: 0.4rem;
    height: 2.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

#navbar button span {
    color: #8D9CB1;
    font-weight: 900;
    padding: .3rem 1rem;
    border-radius: 1rem;
    transition: 0.2s;
}

#navbar button span.active {
    background-color: #00DAF3;
    color: #2A354B;
}

@media (max-width: 768px) {

    #navbar {
        padding: .7rem 1rem;
    }

    #navbar ul {
        display: none;
    }

    #navbar-mobile {
        display: block;
        position: fixed;
        bottom: 0rem;
        background-color: #040C1E;
        width: 100%;
        height: 4rem;
    }

    #navbar-mobile ul {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    #navbar-mobile a {
        color: #94A3B8;
        padding: .5rem 0;
        transition: 0.2s;
    }

    #navbar-mobile a:hover {
        color: #22D3EE;
        border-bottom: 2px solid #22D3EE;
        cursor: pointer;
    }

    #navbar-mobile a.active {
        color: #22D3EE;
        border-bottom: 2px solid #22D3EE;
    }
}