#navbar {
    background-color: #040C1E;
    padding: .7rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: fixed; */
}

#navbar h1 {
    color: #22D3EE;
    margin: 0;
}

#navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

#navbar li {
    color: #94A3B8;
    padding: .5rem 0;
}

#navbar li:hover {
    color: #22D3EE;
    border-bottom: 2px solid #22D3EE;
    cursor: pointer;
}

#navbar li.active {
    color: #22D3EE;
    border-bottom: 2px solid #22D3EE;
}

#navbar button {
    background-color: #2A354B;
    border: none;
    height: fit-content;
    padding: 0.4rem;
    height: 2.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

#navbar button span {
    color: #8D9CB1;
    font-weight: 900;
    padding: .3rem 1rem;
    border-radius: 1rem;
}

#navbar button span.active {
    background-color: #00DAF3;
    color: #2A354B;
}