* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    font-size: 110%;
    box-shadow: 0px 3px 10px 0px grey;
}

.lista {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.listaItem {
    margin-right: 5%;
}

.conteiner-externo {
    padding: 6%;
}

.conteiner-sobremim {
    display: flex;
    border: 10px solid black;
}

.conteiner-sobremim-texto {
    padding: 3%;
}

.titulo {
    font-size: 5rem;
    
}

.texto {
    font-size: 3rem;
    text-align: justify;
}